@tailwind base;
@tailwind components;

@layer base {
  input:invalid[actived="true"] {
    border: 1px solid #e44d4d;
  }
  input:invalid[actived="true"] ~ span {
    display: block;
  }
  input[type="file"] {
    display: none;
  }
}

@tailwind utilities;
