@tailwind base;
@tailwind components;

@layer base {
  body {
    font-family: "Montserrat", sans-serif;
  }
  input:invalid[actived="true"] {
    border: 1px solid #e44d4d;
  }
  input:invalid[actived="true"] ~ span {
    display: block;
  }
}

@tailwind utilities;
